p {
  font-family: "Courier New", Courier, monospace;
  left: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
  line-height: 150%;
  font-size: large;
}

.cooking p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.couch p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}
a {
  text-decoration: none;
  color: black;
  background-color: white;
}

.tv p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.sleep p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.empty-bedroom p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.eating p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.packing-kitchen p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.packing-tv p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.packing-bedroom p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.no-sleep p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.pov-cooking p {
  background-color: white;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
}

.a-hover:hover {
  color: white;
  background-color: black;
}

.arrow {
  z-index: 2;
}

body {
  background-repeat: no-repeat;
}

.street {
  background-image: url(assets/street.png);
  background-size: 110%;
}

.house {
  background-image: url(assets/house.jpg);
  background-size: cover;
  background-position: 15% 15%;
}

.house-front {
  background-image: url(assets/house-front.jpg);
  background-size: cover;
  background-size: 105%;
}

.apartment {
  background-image: url(assets/404.jpg);
  background-size: cover;
}

.empty-bedroom {
  background-image: url(assets/empty-bedroom.jpg);
  background-size: cover;
}

.living-room {
  background-image: url(assets/living-room.jpeg);
  background-size: cover;
}

.kitchen {
  background-image: url(assets/kitchen.jpeg);
  background-size: cover;
  background-size: 110%;
  background-position: 50% 15%;
}

.bedroom {
  background-image: url(assets/bedroom.jpeg);
  background-size: cover;
}

.tv {
  background-image: url(assets/off-tv.jpg);
  background-size: cover;
}

.sleep {
  background-image: url(assets/sleep.jpg);
  background-size: cover;
}

.cooking {
  background-size: cover;
}

.eating {
  background-image: url(assets/hotpot.jpeg);
  background-size: cover;
}

.couch {
  background-image: url(assets/couch.jpg);
  background-size: cover;
}

.pantry {
  background-image: url(assets/pantry.jpg);
  background-size: cover;
}

.pov-cooking {
  background-image: url(assets/pov-cooking.jpg);
  background-size: cover;
}

.food-network {
  background-image: url(assets/food-network.jpg);
  background-size: cover;
}

.house-bedroom {
  background-image: url(assets/house-bedroom.JPG);
  background-size: cover;
}

.house-kitchen {
  background-image: url(assets/house-kitchen.jpeg);
  background-size: cover;
}

.house-living-room {
  background-image: url(assets/house-living-room.jpeg);
  background-size: cover;
}

.house-front-door {
  background-image: url(assets/house-door.jpeg);
  background-size: cover;
}

.house-front-enter {
  background-image: url(assets/house-front.jpeg);
  background-size: cover;
}

.packing-kitchen {
  background-image: url(assets/pantry.gif);
  background-size: cover;
}

.packing-tv {
  background-image: url(assets/tv.gif);
  background-size: cover;
}

.packing-bedroom {
  background-image: url(assets/bedroom.gif);
  background-size: cover;
}

.house-front-enter {
  background-image: url(assets/house-front-door.jpg);
  background-size: cover;
}

.nuts {
  position: fixed;
  top: 83%;
  left: 26%;
  height: 30%;
  transform: translate(-50%, -50%);

  animation-duration: 2s;
  animation-name: up-down2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bottle {
  position: fixed;
  top: 39.5%;
  left: 77.2%;
  height: 20%;
  transform: translate(-50%, -50%);
  animation-duration: 2s;
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes up-down {
  from {
    height: 20%;
    top: 39.5%;
    left: 77.2%;
  }

  to {
    height: 18%;
    top: 40.5%;
    left: 77%;
  }
}

@keyframes up-down2 {
  from {
    height: 30%;
    top: 83%;
    left: 26%;
  }

  to {
    height: 29%;
    top: 84%;
    left: 26.3%;
  }
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  min-height: 100%;
}

.left {
  position: fixed;
  top: 50%;
  left: 5%;
  height: 10%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
}

.up {
  position: fixed;
  top: 8%;
  left: 50%;
  width: 6%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
}

.down {
  position: fixed;
  top: 92%;
  left: 50%;
  width: 6%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
}

.right {
  position: fixed;
  top: 50%;
  left: 95%;
  height: 10%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.3));
}

img {
  z-index: 1;
}
